<p id="notice"><%= notice %></p>

<h1>
  <strong>Username:</strong>
  <%= @user.username %>
</h1>

<h4 class="text-center"> This user has made <span class="badge"><%= pluralize @user.ratings.count, 'rating', 'ratings' %></span>
  with an average of <span class="badge"><%= @user.average_rating %></span>
</h4>
<h4 class="text-center"> Member of
      <% @user.memberships.each do |membership| %>
       <%= link_to membership.beer_club.name, membership.beer_club %>
      <% end %>
</h4>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table">
      <ul class="list-group">
        <% @user.ratings.each do |rating| %>
        <li class="list-group-item", width: "300px">
          <%= link_to rating.beer.name, rating.beer %>
          <span class="badge"> <%= rating.score %></span>
          <% if @user == current_user %>
          <%= link_to 'Delete', rating_path(rating.id), :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </table>
  </div>
</div>
<div class="col-md-6 col-md-offset-3">
  <%= edit_and_destroy_buttons(@user) %>
</div>
<%= link_to 'Back', users_path %>
