<h1>List of ratings</h1>
<p class="text-center"> Number of ratings: <span class="badge"> <%= @ratings.count %> </span> </p>

<p>

</p>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<table class="table">
<ul class="list-group">
 <% @ratings.each do |rating| %>
   <li class="list-group-item", width: "300px">
     <%= link_to rating.beer.name, rating.beer %>
     <span class="badge"> <%= rating.score %></span>
     <%= link_to rating.user.username, rating.user, :class => "btn btn-default btn-xs", method: :get %>

   </li>
 <% end %>
</ul>
</table>
</div>
</div>

<%= link_to 'Create a new rating', new_rating_path, :class => "btn btn-success", :method => :get %>
