<p id="notice"><%= notice %></p>

<h1>Listing Breweries</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <p class="text-center"> Number of breweries: <span class="badge"> <%= @breweries.count %> </span> </p>
    <% @breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.year %></td>
        <td><%= button_to "Edit", edit_brewery_path(brewery), :class => "btn btn-warning btn-xs", :method => :get %></td>
        <td><%= button_to "Delete", brewery, :class => "btn btn-danger btn-xs", :method => :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>
<div class="center-block">
<table>
<tr>
  <td><%= link_to "List of beers", beers_path, :class => "btn btn-default", :method => :get %></td>
  <td><%= link_to "New Brewery", new_brewery_path, :class => "btn btn-success", :method => :get %></td>
</tr>
</table>
</div>
