<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @beer.name %>
</h1>

<h2 class="text-center">
  <strong>Style:</strong>
  <%= @beer.style.name %>

  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</h2>

<h3 class="text-center">
       <% if @beer.ratings.empty? %>
         <strong> This beer has not yet been rated!</strong>
        <% else %>
         <strong>Beer has <%= pluralize @beer.ratings.count, 'rating', 'ratings' %>, average <%= round @beer.average_rating %></strong>
        <% end %>
</h3>

<% if current_user %>



<div class="col-md-6 col-md-offset-3">
  <h4>give a rating:</h4>
  <div class="input-group">
  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :beer_id %>
    <%= f.number_field :score, :class => "form-control" %>
    <%= f.submit 'Rate!', :class => "btn btn-default" %>
  <% end %>
</div>
<br>
</div>
<div class="col-md-6 col-md-offset-3">
  <%= edit_and_destroy_buttons(@beer) %>
  <%= link_to 'Back', beers_path, :class => "btn btn-default"  %>
</div>
<% end %>
