<!DOCTYPE html>
<html>
<head>
  <title>Ratebeer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to 'Breweries', breweries_path %></li>
    <li role="presentation"><%= link_to 'Beers', beers_path %></li>
    <li role="presentation"><%= link_to 'Ratings', ratings_path %></li>
  </ul>
  <%= yield %>
</body>
</html>
